

/* GOOGLE FONTS */

/* font-family: 'Roboto', sans-serif; */
/* font-family: 'Roboto Mono', monospace; */
/* font-family: 'Roboto Slab', serif; */


body {
	font-family: 'Roboto Mono', monospace, sans-serif;
	margin: 0;
	padding: 0;
	/* position: grid;
	grid-template-rows: 280px 1fr; */
	height: 100%;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;

}

a {
	text-decoration: none;
	display: inline;
	color: black;
}

header {
	/* background: red; */
	width: 100%;
	display: grid;
	grid-template-rows: 100px 280px;
}
header .header-social{
	background-color: #48cfad;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding-right: 30px;
}

.header-social .icons span[class^="flaticon-"]:before {
	font-size: 50px;
	color: white;
	margin-left: 0px;
	margin-right: 50px;
}


header .nav-container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	/* justify-content: space-evenly; */
	align-items: center;
}
.nav-logo-container {
	padding-left: 40px;
	
}

.nav-logo-container img{
	/* border: 1px solid green; */
}

.nav-profile-container {
	justify-self: right;
	padding-right: 80px;
}

.nav-profile-container a{
	color: black;
	border-bottom: 2px solid black;
	font-size: 40px;
}



main {
	height: calc(100vh - 380px);
	display: grid;
	grid-template-rows: 1fr 1fr;
	justify-items: center;
	
	background-image: url("../assets/images/Cover.png");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center top;
	background-size: cover;
}

main h1 {
	width: 800px;
	margin: 0 auto;
	text-align: center;
	align-self: end;
	color: white;
	font-size: 50px;
}

main a {
	/* display: block; */
	background-color:  #48cfad;
	align-self: start;
	font-size: 25px;
	font-weight: bold;
	padding: 20px 30px;
	margin-top: 20px;

}