

/* GOOGLE FONTS */

/* font-family: 'Roboto', sans-serif; */
/* font-family: 'Roboto Mono', monospace; */
/* font-family: 'Roboto Slab', serif; */



/* ----------------- BASICOS  */

body {
	font-family: 'Roboto Mono', monospace, sans-serif;
	margin: 0;
	padding: 0;
	/* position: grid;
	grid-template-rows: 280px 1fr; */
	height: 100%;
	/* position: fixed; lo pusieron en el curso pero no es necesario */
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;

}

a {
	text-decoration: none;
	display: inline;
	color: black;
} 


.btn-readmore {
	border: 2px solid #48cfad;
	background-color: transparent;
	padding: 0;
}
.btn-readmore a {
	padding: 10px 24px 10px 16px;
	display: block;	
	font-size: 10px;
	font-family: 'Roboto Mono', monospace, sans-serif;
}

.tittle-section {
	margin: 0 0 40px;
	padding: 0 0 20px;
	text-align: center;
	border-bottom: 1px solid #cccccc;
	font-size: 20px;
}
.subtittle-section {
	margin: 0 0 40px;
	padding: 0 0 20px;
	text-align: center;
	border-bottom: 1px solid #cccccc;
	font-size: 16px;
}





/* ----------------- BASICOS  */

/* ----------------- HEADER  */

header {
	/* background: red; */
	width: 100%;
	display: grid;
	grid-template-rows: 50px 140px;
}
header .header-social{
	background-color: #48cfad;
	display: grid;
	justify-items: center;
	align-items: center;
	box-sizing: border-box;
}
.header-social .icons {
	width: 100%;
	max-width: 960px;
	display: flex;
	justify-content: flex-end;
	box-sizing: border-box;
	padding-right: 40px;
}

.header-social .icons span[class^="flaticon-"]:before {
	font-size: 25px;
	color: white;
	margin-left: 24px; 
}


header .nav-container {
	max-width: 960px;
	width: 100%;
	margin: 0 auto;
	display: grid;
	grid-template-columns: 1fr 1fr;
	align-items: center;
	box-sizing: border-box;
	padding: 0 40px;
}


.nav-logo-container img{
	height: 83px;
}

.nav-profile-container {
	justify-self: right;
}

.nav-profile-container a{
	color: black;
	border-bottom: 2px solid black;
	font-size: 20px;
}


/* HEADER-INDEX ----------------- */


.header-index .header-social .icons {
	max-width: none;
}
.header-index .nav-container {
	max-width: none;
}



/* ----------------- HEADER  */


/* ----------------- INDEX  */

.home-main {
	height: calc(100vh - 190px);
	display: grid;
	grid-template-rows: 1fr 1fr;
	justify-items: center;
	
	background-image: url("../assets/images/Cover.png");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center top;
	background-size: cover;
}

.home-main h1 {
	width: 800px;
	margin: 0 auto;
	text-align: center;
	align-self: end;
	color: white;
	font-size: 40px;
}

.home-main a {
	/* display: block; */
	background-color:  #48cfad;
	align-self: start;
	font-size: 20px;
	font-weight: bold;
	padding: 20px 30px;
	margin-top: 20px;

}


/* ----------------- INDEX  */


/* ----------------- BLOGS  */

.blogs-content {
	width: 100%;
	background-color: #e6e9ed;
	padding: 10px 40px 40px;
	box-sizing: border-box;

}
.blogs-destacada  {	
	max-width: 960px;
	margin: 0 auto;

	display: grid;
	grid-template-columns: 2fr 1fr;
	grid-template-rows: 40px 1fr;

	padding: 0 30px;
	box-sizing: border-box;
}

.destacada-titulo {
	grid-column: 1 / span 2;
}
.destacada-titulo h2 {
	margin: 0;
	font-size: 20px;
}
.destacada-foto {
	padding-right: 40px;
}

.destacada-foto img {
	width: 100%;
}

.destacada-contenido {
	/* border: 1px solid red; */
}

.destacada-contenido h1 {
	margin: 30px 0 20px;
	font-size: 36px;
}

.destacada-contenido p {
	margin: 12px 0 20px;
	font-size: 12px;
}



.lastposts {
	max-width: 960px;
	margin: 0 auto;
	box-sizing: border-box;
	padding: 50px 30px 60px 30px;
}

.lastposts-blogspots {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 40px 50px;
	
}
.blogspot-cointainer {
}
.blogspot-cointainer img {
	width: 100%;
}
.blogspot-cointainer h3{
	margin: 10px 0 5px;
}
.blogspot-cointainer p {
	margin: 0 0 10px;
	font-size: 12px;
}


/* ----------------- BLOGS  */


/* ----------------- BLOG  */

.blogpost-imagen,
.blog-post {
	/* border: 1px solid red; */
	max-width: 960px;
	width: 100%;
	padding: 0 45px;
	margin: 0 auto;
	box-sizing: border-box;
}
.blogpost-imagen {
	overflow: hidden;
}


.blogpost-imagen img {
	width: 100%;
	display: block;
	margin:-10% 0;
}

.blog-post {
	padding: 45px;
}

.blog-post__container {
	width: 100%;
	max-width: 580px;
	margin: 0 auto;

}

.blog-post .subtittle-section {
	text-align: left;
}

.blog-post__title {
	margin-top: 0;
}


/* ----------------- BLOG  */


/* ----------------- CONTACTS  */

.contacts {
	/* border: 1px solid red; */
	width: 100%;
	padding: 0 45px;
	margin: 0 auto;
	box-sizing: border-box;
	background-color: #e6e9ed;
}
.contacts__container {	
	max-width: 960px;
	width: 100%;
	padding: 35px 0;
	margin: 0 auto;
	box-sizing: border-box;
	
	display: grid;
	grid-template-columns: 1fr 1fr;
	justify-content: space-between;
}
.contacts__contact {
	display: grid;
	grid-template-columns: 100px 1fr;
	align-items: end ;

}
.contact__image img {
	width: 100%;
}

.contact__description {
	padding: 0 20px;
}

.contact__description a {
	border-bottom: 1px solid black;
}

.contact__description p {
	font-size: 12px;
	margin-bottom: 0;
}



/* ----------------- CONTACTS  */


/* ----------------- FOOTER  */

footer {
	width: 100%;
	padding-top:30px;
	background-color: #48cfad;
}

.footer-content {
	background-color: #23282d;
	display: grid;
	height: 60px;
	align-items: center;
	justify-items: center;
}

.footer-content p {
	margin: 0;
	color: white;
	font-size: 12px;
}
/* ----------------- FOOTER  */